
// Layout
@mixin center(){
    display: block;
    margin: 0 auto;
}
@mixin padding($x : $increment-sm, $y : $increment-sm, $x2 : $x, $y2 : $y){
    padding: $x $y $x2 $y2;
    box-sizing: border-box;
}

@mixin flex($flex-direction : row, $align-items : center, $justify-content : space-between){
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
}

// Grid
@mixin container($fluid : false){
    padding: 0px;
    @if($fluid){
        width: 100%;
    }
    @else{
        @include center;
        width: $container-width;
    }
}
@mixin column-base(){
    float: left;
    padding: $increment-xxsm;
    box-sizing: border-box;
    &:not(:last-child){
        margin-right: $gutter-horizontal;
    }
}




@mixin shadow($x : .2rem, $y : .2rem, $blur : $increment-xsm, $opacity : .3){
    text-shadow: $x $y $blur rgba(0,0,0,$opacity);
}

@mixin hover(){
    &:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
}