
// Layout
@mixin center(){
    display: block;
    margin: 0 auto;
}
@mixin padding($x : $increment-sm, $y : $increment-sm, $x2 : $x, $y2 : $y){
    padding: $x $y $x2 $y2;
    box-sizing: border-box;
}

@mixin flex($flex-direction : row, $align-items : center, $justify-content : space-between){
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
}

// Grid
@mixin container($fluid : false){
    padding: 0px;
    @if($fluid){
        width: 100%;
    }
    @else{
        @include center;
        width: $container-width;
    }
}
@mixin column-base(){
    float: left;
    padding: $increment-xxsm;
    box-sizing: border-box;
    &:not(:last-child){
        margin-right: $gutter-horizontal;
    }
}

@mixin text-shadow(){
    text-shadow: 2px 2px 8px rgba(0,0,0,.5);
}
@mixin box-shadow(){
    box-shadow: 2px 2px $increment-xsm rgba(0,0,0,.5);
}


@mixin hover($type : "normal"){
    cursor: pointer;
    @if ($type == "up"){
        &:hover{
            transform: translateY(-1rem);
            @include box-shadow();
            color: inherit;
        }
    }
    @else if($type == "normal"){
        &:hover{
            transform: scale(1.1);
        }
    }
 
}

@mixin button-base(){
    border-radius: $increment-sm;
    text-align: center;
    @include center;
    transition: transform .2s;
}