.Card{
    @include card-base;
    border: solid 1px #ddd;
    &--Dark{
        background-color: $color-dark;
        color: $color-white;
        h4, h5, h6 {
            font-family: $font-secondary;
            color: $color-white !important;
        }
    }
    &--Light {
        background-color: $color-white;
        h4 {
            color: $color-1;
        }
    }
    &--Primary {
        background-color: $color-1;
        h4, h5, h6 {
            color: $color-white;
        }
        color: $color-dark;
        .ButtonReadMore{
            @include read-more-overwrite($color-white, $color-6);
        }
    }
    &--Secondary {
        background-color: $color-5;
        h4, h5, h6 {
            color: $color-white;
        }
        color: $color-white;
        .ButtonReadMore{
            @include read-more-overwrite($color-white, $color-1);
        }
    }
    &__double-sided{
        @include card-base;
        position: relative;
        transition: transform .8s ease;
        perspective: 150rem;
        -moz-perspective: 150rem;
      
        h5 {
            text-transform: uppercase;
        }
        &__side{
        
           @include absolute;
           @include padding;
           transition: inherit;
           backface-visibility: hidden;
           border-radius: inherit;
           text-align: center;
           width: inherit;
           max-width: inherit;
           & > .icon {
            width: 5.5rem;
           }
       
           &--front{
              @include border($color-1);
              z-index: 2;
           }
           &--back{
              @include shadow();
              z-index: 1;
              transform: rotateY(-180deg)
           }
        
        }
    
        &:hover &__side--front{
           transform: rotateY(180deg);
           
        }
        &:hover &__side--back{
           transform: rotateY(0deg);
        }
     }

}