.Header{
    &__inner{
        @include flex(row, stretch);
        @include padding($increment-sm, $increment-sm);
        &__logo{
            width: $header-logo-width;
        }
    }
    background-color:$color-white;
    position: relative;
}   