.Logo{
    @include flex(row, center, center);
    @include padding;
    height: $header-height;
    width: inherit;
    img {
        @include hover;
        @include center;
        max-width: 100%;
        transition: transform .5s;
    }
}