.menu {
    @include flex(row, stretch, center);
    width: 25%;
    ul {
        margin-bottom:0px;
        @include flex(row, center, center);
        flex-basis: 100%;
        width: 100%;
        list-style: none;
        text-align: center;
       li {
            text-align: center !important;
            color: olive;
            list-style: inherit;
            padding: 0 8px;
            cursor: pointer;
        };
    }
}
