.menu {
    background-color: #fafafa;
    width: 100%;
    height: 50px;
    ul {
        width: 100%;
        height: inherit;
        list-style: none;
        margin: 0px !important;
        padding: 0px !important;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        li {
            text-align: center !important;
            color: olive;
            list-style: inherit;
            padding: 0 8px;
            cursor: pointer;
        };
    }
}
