.footer{
    @include flex;
    @include padding($increment-lg);
    background-color: #333;
    color: #fafafa;
    text-align: left !important;
    bottom: 0px;
    width: 100%;
    h4, h5, h6 {
        margin-bottom: 0;
        color: $color-white;
    }
    & {
        .footer__credits{
            @include card-base;
            background-color: $color-6;
            text-align: left;
       
            .Logo{
                position: relative;
                left: -10px;
                width: 18rem;
            }
      
            a {
                display: block;
                width: 100%;
                color: $color-white;
            }
        }
     
    }

}
