.footer{
    @include flex;
    background-color: #333;
    height: 400px;
    display: flex;
    color: #fafafa;
    text-align: center !important;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
